<nav id="nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Epicodus FC</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="navlinks"><a routerLink=''>Home</a></li>
      <li class="navlinks"><a routerLink="about">About Us</a></li>
      <li class="navlinks"><a routerLink="members">Members</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>

  <footer class="footer">
    <div class="container">
    </div>
  </footer>
</div>
