
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class = "panel-title">Add New Member</h3>
  </div>
    <div class="panel-body">
      <div>
        <label style="font-size:14px">Name:</label>
        <br>
        <input #newName style="font-size:12px" class="form-control">
      </div>

      <div>
        <label style="font-size:14px">Position:</label>
        <br>
        <input #newPosition style="font-size:12px">
      </div>

      <div>
        <label style="font-size:14px">Experience:</label>
        <br>
        <input #newYears type="number" style="font-size:12px">
      </div>


      <br>
      <button class="btn btn-success" (click) = "submitForm(newName.value, newPosition.value, newYears.value); newName.value=''; newPosition.value=''; newYears.value=''"> Add </button>
    </div>
    <div>
      <app-welcome></app-welcome>
    </div>
    </div>
