<h4>Edit Member</h4>

<div>
  <label style="font-size:18px">Name:</label>
  <br>
  <input style="font-size:18px" class="form-control" [(ngModel)]="selectedMember.name">
</div>

<div>
  <label style="font-size:18px">Position of Member:</label>
  <br>
  <input style="font-size:18px" class="form-control" [(ngModel)]="selectedMember.position">
</div>

<br>
<button (click)="updatingMember(selectedMember)" class="btn btn-primary">Edit</button>
<button (click)="deletingMember(selectedMember)" class="btn btn-danger">Remove</button>
<hr>
